---
interface Props {
  title: string;
  date: string;
  description: string;
  badgeText?: string;
  isAlwaysOpen?: boolean;
}

const {
  title,
  date,
  description,
  badgeText,
  isAlwaysOpen = false
} = Astro.props;
---

<li class="mb-8 relative">

  <!-- ICON -->
  <span
    class="absolute left-0 top-0 z-20 -translate-x-1/2 flex items-center justify-center size-6 bg-blue-300 rounded-full ring-8 ring-blue-100 dark:ring-blue-950/60 dark:bg-blue-800"
  >
    <slot name="icon" />
  </span>

  <!-- CONTENT (menos separación, más compacto) -->
  <div class="ml-7 sm:ml-8 flex flex-col relative -top-3 z-0">

    <!-- TITLE -->
    <h3 class="flex items-center mb-0 text-lg font-semibold text-[#40E0D0]">
      {title}

      {badgeText && (
        <span class="bg-blue-100 text-blue-800 text-sm font-medium ms-3 px-2.5 py-0.5 rounded-xs dark:bg-blue-900 dark:text-blue-300">
          {badgeText}
        </span>
      )}
    </h3>

    <!-- DATE -->
    <time class="block mb-2 text-sm font-normal text-white">
      {date}
    </time>

    <!-- CONTENT -->
    {isAlwaysOpen ? (
      <div class="mb-4 p-4 rounded-md border border-white/10 bg-white/5">
        <p class="text-sm font-normal text-white/80 leading-relaxed">
          {description}
        </p>
      </div>
    ) : (
      <div class="mb-4">

        <details class="group">

          <summary class="inline-flex items-center px-3 py-1 border border-white/20 rounded-md bg-white/5 cursor-pointer list-none w-fit">
            <span class="text-xs font-normal text-white/70 group-open:hidden">
              Show more...
            </span>
            <span class="text-xs font-normal text-white hidden group-open:inline">
              Hide
            </span>
          </summary>

          <div class="mt-2 p-4 rounded-md border border-white/10 bg-white/5">
            <p class="text-sm font-normal text-white/80 leading-relaxed">
              {description}
            </p>
          </div>

        </details>

      </div>
    )}

  </div>
</li>